# Results of predicting 1 future time step

In [1]:
import pandas as pd
import numpy as np

In [2]:
#seq_len_list = [1, 2]
#split_list = [0.5]
seq_len_list = [i for i in range(1,21)]
split_list = [0.5, 0.6, 0.7, 0.8, 0.9]

In [3]:
results_train = pd.read_csv('mse_results_train.csv')
results_train.index = split_list
results_train.columns = seq_len_list
results_test = pd.read_csv('mse_results_test.csv')
results_test.index = split_list
results_test.columns = seq_len_list

In [13]:
results_train

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,0.094872,0.095006,0.096382,0.096436,0.096363,0.096947,0.107265,0.096843,0.096446,0.102353,0.098180,0.105048,0.099066,0.099645,0.102826,0.098687,0.099177,0.095398,0.106223,0.102324
0.6,0.097268,0.098039,0.096347,0.098023,0.097651,0.098027,0.100503,0.099366,0.108690,0.099044,0.106162,0.132300,0.119317,0.107596,0.100751,0.105617,0.109532,0.116097,0.108987,0.129444
0.7,0.092778,0.097719,0.093196,0.093299,0.104039,0.110917,0.103622,0.102419,0.101606,0.113859,0.123289,0.142074,0.122278,0.129247,0.146468,0.161884,0.171357,0.164504,0.174202,0.175991
0.8,0.095864,0.119850,0.099539,0.102923,0.110417,0.103834,0.116591,0.141962,0.180758,0.175400,0.177375,0.174440,0.169594,0.186012,0.179339,0.176213,0.199571,0.187575,0.200469,0.214845
0.9,0.125054,0.134893,0.590487,0.586059,0.460525,0.374261,0.471087,0.614487,0.731691,0.258285,0.392597,0.308576,0.285710,0.348723,0.404016,0.392178,0.359293,0.240901,0.227465,0.320106

In [14]:
results_test

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,0.098792,0.094903,0.101227,0.101248,0.102274,0.104684,0.116983,0.103772,0.101466,0.109394,0.104657,0.111724,0.106303,0.107594,0.110073,0.104780,0.102447,0.100243,0.106517,0.106708
0.6,0.098230,0.104865,0.100073,0.103141,0.100699,0.099139,0.100513,0.099635,0.112666,0.098945,0.104760,0.130839,0.126360,0.108105,0.103196,0.108275,0.110346,0.118452,0.111891,0.139984
0.7,0.099322,0.106905,0.100197,0.102598,0.118816,0.128886,0.119397,0.117096,0.120596,0.138616,0.154195,0.184265,0.147777,0.164617,0.198927,0.223882,0.239370,0.222665,0.252380,0.233888
0.8,0.098391,0.129050,0.106683,0.108871,0.121367,0.114989,0.144982,0.222473,0.367182,0.332957,0.331596,0.293362,0.293291,0.330553,0.310092,0.293722,0.340788,0.291958,0.301025,0.334017
0.9,0.123939,0.143139,0.715114,0.695288,0.575619,0.441828,0.580927,0.729076,0.877257,0.326901,0.456154,0.411997,0.357206,0.404280,0.403887,0.419684,0.391968,0.313129,0.324284,0.440230

In [12]:
results_train.apply(np.sqrt)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,0.308013,0.308231,0.310455,0.310541,0.310423,0.311363,0.327514,0.311196,0.310558,0.319927,0.313338,0.324111,0.314747,0.315666,0.320664,0.314145,0.314924,0.308865,0.325919,0.319881
0.6,0.311878,0.313112,0.310398,0.313087,0.312492,0.313092,0.317021,0.315223,0.329681,0.314713,0.325826,0.363731,0.345422,0.328019,0.317413,0.324987,0.330956,0.340730,0.330132,0.359783
0.7,0.304595,0.312600,0.305280,0.305449,0.322550,0.333042,0.321904,0.320030,0.318756,0.337430,0.351125,0.376927,0.349683,0.359509,0.382711,0.402348,0.413953,0.405591,0.417375,0.419512
0.8,0.309620,0.346194,0.315499,0.320816,0.332290,0.322234,0.341454,0.376778,0.425156,0.418807,0.421159,0.417660,0.411818,0.431291,0.423485,0.419777,0.446734,0.433099,0.447738,0.463514
0.9,0.353629,0.367278,0.768431,0.765545,0.678620,0.611769,0.686357,0.783892,0.855389,0.508217,0.626576,0.555496,0.534518,0.590528,0.635623,0.626241,0.599411,0.490816,0.476933,0.565779

In [5]:
results_test.apply(np.sqrt)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,0.314313,0.308064,0.318161,0.318195,0.319803,0.323549,0.342028,0.322137,0.318538,0.330747,0.323508,0.334251,0.326042,0.328015,0.331772,0.323698,0.320074,0.316611,0.326370,0.326662
0.6,0.313416,0.323829,0.316344,0.321156,0.317331,0.314863,0.317038,0.315650,0.335658,0.314555,0.323667,0.361717,0.355471,0.328793,0.321242,0.329052,0.332183,0.344168,0.334501,0.374145
0.7,0.315154,0.326963,0.316539,0.320309,0.344697,0.359007,0.345538,0.342193,0.347269,0.372312,0.392677,0.429261,0.384417,0.405730,0.446012,0.473162,0.489255,0.471873,0.502374,0.483620
0.8,0.313673,0.359235,0.326623,0.329956,0.348377,0.339101,0.380765,0.471671,0.605955,0.577024,0.575844,0.541629,0.541564,0.574938,0.556859,0.541961,0.583771,0.540331,0.548657,0.577942
0.9,0.352050,0.378338,0.845644,0.833840,0.758696,0.664702,0.762185,0.853859,0.936620,0.571752,0.675391,0.641870,0.597667,0.635830,0.635521,0.647830,0.626074,0.559580,0.569460,0.663498

In [10]:
results_test.apply(np.sqrt).mean()

1     0.321721
2     0.339286
3     0.424662
4     0.424691
5     0.417781
6     0.400244
7     0.429511
8     0.461102
9     0.508808
10    0.433278
11    0.458217
12    0.461745
13    0.441032
14    0.454661
15    0.458281
16    0.463141
17    0.470271
18    0.446513
19    0.456272
20    0.485173
dtype: float64

In [11]:
results_test.apply(np.sqrt).var()

1     0.000288
2     0.000822
3     0.055401
4     0.052333
5     0.036518
6     0.022137
7     0.035101
8     0.052244
9     0.071185
10    0.017041
11    0.025387
12    0.016535
13    0.014597
14    0.020391
15    0.019017
16    0.019462
17    0.019786
18    0.012395
19    0.013794
20    0.019465
dtype: float64

In [6]:
test = results_train.apply(np.sqrt)

In [7]:
test

            1         2
0.5  0.308264  0.308489

## Testing

In [16]:
res = np.ones((len(split_list), len(seq_len_list), 3), dtype=np.float32)

In [7]:
seq_len_list = [i for i in range(1,21)]
split_list = [0.5, 0.6, 0.7, 0.8, 0.9]

In [8]:
df_res_train = pd.DataFrame(0, index=split_list, columns=seq_len_list)
df_res_val = df_res_train.copy()

In [10]:
res.shape

(5, 20, 3)

In [11]:
df_res_train.shape

(5, 20)

In [12]:
df_res_train.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0.6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0.7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0.8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
for i, seq_len_value in enumerate(seq_len_list):
    for j, train_test_split in enumerate(split_list):
        df_res_train.iloc[j, i] = res[j,i,0]
        df_res_val.iloc[j, i] = res[j,i,1]

In [21]:
df_res_val

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [33]:
df_res_train.to_csv('test.csv', index=False)

In [34]:
a = pd.read_csv('test.csv')

In [35]:
a

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [36]:
a.index = split_list

In [37]:
a.columns = seq_len_list

In [38]:
a

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.6,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.7,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.8,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
0.9,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0